.aboutContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0em 10em;
}

.aboutTitleContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.aboutTitleText {
    font-size: 2em;
    flex-grow: 0;
}

.divider {
    margin: 0em 1em;
    flex-grow: 1;
    height: 1px;
    background-color: #9f9f9f;
}

.aboutDescriptionContainer {
    display: flex;
    margin: 0em 1em;
    font-size: 1.4em;
    align-items: center;
    gap: 3em;
}

.profilePicture {
    width: 15em;
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 2px 0px rgba(255, 255, 255, 0.5);
}