.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
}

.customModal {
    display: flex;
    margin: auto;
    height: 80vh;
    width: 100vh;
    margin-top: 4.5%;
    flex-direction: column;
    background-color: #2C394B;
    border: white solid 0.2em;
    border-radius: 1em;
}

.modalHeaderContainer {
    display: flex;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modalDescriptionContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    overflow-y: scroll;
}

.modalTitleContainer {
    flex: 10;
    text-align: center;
    margin-left: 4em;
}

.closeIcon {
    font-size: 1.5em;
    margin-right: 1em;
}

.closeIcon:hover {
    cursor: pointer;
}

.modalTitleText {
    font-size: 2em;
    font-weight: bold;
}

.modalDescriptionText {
    margin: 2em 5em;
    font-size: 1.5em;
}