.projectCardContainer {
    display: flex;
    flex-direction: column;
    background-color: #2C394B;
    border-radius: 1em;
    box-shadow: 2px 5px 12px -3px rgba(0, 0, 0, 0.57);
    width: 50vh;
    justify-content: center;
    padding: 2em;
}

.projectCardContainer:hover {
    cursor: pointer;
}

.nameText {
    font-size: 1.5em;
    text-align: center;
}

.descriptionText {
    text-align: center;
}