.projectCardContainer {
    display: flex;
    height: 20vh;
    width: 20vh;
    flex-direction: column;
    background-color: #2C394B;
    border-radius: 1em;
    box-shadow: 2px 5px 12px -3px rgba(0, 0, 0, 0.57);
    justify-content: center;
    padding: 1.5em;
}

.nameText {
    font-size: 1.1em;
    font-weight: bold;
}

.projectIcon {
    font-size: 2em;
}

.projectIconContainer {
    display: flex;
    justify-content: flex-end;
}

.projectIconContainer:hover{
    cursor: pointer;
    color: #FF4C29;
}