#hobbiesCardContainer{
	display: flex;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
}

#hobbiesCardIcon{
	align-self: center;
	padding: 10%;
}

#hobbiesIconContainer{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 1;
	text-align: center;
	color: #D7D6D6;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 10px 30px 0 rgba(0, 0, 0, 0.4);
	font-family: sans-serif;
	font-size: 20px;
	margin-left: 2%;
	border-radius: 20px;
}

#hobbiesIconContainer:hover{
	box-shadow: 0 8px 16px 0 rgba(190, 178, 200, 0.4), 0 10px 30px 0 rgba(190, 178, 200, 0.3);
	cursor: pointer;
}

#hobbiesInfo{
	color: white;
	text-align: center;
	text-decoration: underline;
	font-family: sans-serif;
	font-size: 25px;
	padding-top: 4%;
}

#hobbieTitle{
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
}

#extendedDescription{
	color: white;
	text-align: left;
	font-family: sans-serif;
	font-size: 25px;
	margin-top: -8%;
}

#hobbiesNav{
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
}

#hobbiesNav:hover{
	color: #BEB2C8;
	cursor: pointer;
}

#hobbiesExamples{
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
	margin-left: 20%;
	margin-right: 20%;
}

.tooltip{
	font-family: sans-serif;
}