:root {
    --main-background-color: #334756;
    --main-font-color: #ffffff;
    --secondary-color: #082032;
    --hover-color: #FF4C29;
}

.navBarDot {
    display: flex;
    justify-content: center;
    height: 1em;
    width: 1em;
    border-radius: 100%;
    border-color: white;
    border-width: 0.15em;
    border-style: solid;
}

.navBarDot {
    cursor: pointer;
}