.landingPageContainer {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    margin: 0em 10em;
}

.landingPageIntroText {
    font-size: 1.1em;
    color: #FF4C29;
}

.landingPageMainText {
    font-size: 4em;
}

.landingPageSubText {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.9);;
}

.landingPageInfoText {
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.6);
}

.introContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.landingPageDescriptionText {
    margin-top: 0.5em;
    font-size: 1.1em;
}