.mainContentContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profilePicture {
    width: 30em;
    border-radius: 50%;
    border-width: 0.5em;
    border-color: white;
    border-style: solid;
    cursor: pointer;
}

.linksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30em;
    height: 30em;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    gap: 2em;
}

.mainText {
    font-size: 3.5em;
}

.subText {
    margin-top: -1em;
    font-size: 2em;
}

.socialIcon {
    color: #334756;
}

.socialIcon:hover {
    color: "#FF4C29";
    cursor: pointer;
}

.returnIconContainer {
    display: flex;
    margin-right: 4em;
}