:root {
  --main-background-color: #334756;
  --main-font-color: #ffffff;
}

html {
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
